# python_version 3.7

flake8==3.8.3
pylint==2.5.3
pytest==6.0.0
pytest-xdist==1.34.0

tensorflow==2.3.0
tflite==2.3.0
numpy==1.18.5

-e python
# -e ../../tools/ai_tools/third_party/tensorflow/tensorflow/examples
